@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(assets/bolton.jpg);
    background-size:cover;
}
body {
    margin: 0;
    font-family: "Montserrat";
    overscroll-behavior-y: none;
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.topnav {
    overflow: hidden;
    background-color: #333;

    border-bottom: 2px solid #ffffff;
}

.topnav .logo {
    float: left;
}

.topnav #title {
    border-bottom: solid #BA0C2F 5px;
    margin: 0;
    margin-left: -18px;
    font-size: 50px;
}

.topnav #dawgimg {
    margin-top: 6px;
    width: 125px;
}

.topnav h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
}
  
.topnav a {
    border-radius: 40px;
    float: right;
    font-weight: 600;
    color: #333;
    background-color: white;
    text-align: center;
    padding: 20px 20px;
    margin-right: 0px;
    margin-left: 20px;
    margin-top: -16px;
    text-decoration: none;
    font-size: 18px;

    transition-duration: 300ms;
}
  
.topnav a:hover {
    transition-duration: 300ms;
    background-color: #6f6f6f;
    color: #cacaca;
}
  
.topnav a.active {
    background-color: #BA0C2F;
    color: white;
}

.topnav a.active:hover {
    background-color: white;
    color: #333;
}


.motto-container {
    margin-top: 0px;
    height: 600px;
}

.welcome-container {
    margin: auto;
    width: 750px;
}

.welcome {
    color:white;
    font-size: 120px;
}

b {
    color:#BA0C2F;
}

.options-container {
    margin: auto;
    margin-top: -60px;
    width: 750px;
    display: flex;
}

#browse {
    background-color: #BA0C2F;
    font-family: Montserrat;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;

    transition-duration: 0.4s;
    cursor: pointer;

    margin-left: 20px;

    transition-duration: 300ms;
}

#browse:hover {
    background-color: #333;
    color: white;
    transition-duration: 300ms;
}

#preferences {
    background-color: rgb(191, 191, 191);
    font-family: Montserrat;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 40px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;

    transition-duration: 0.4s;
    cursor: pointer;

    margin-left: 80px;

    transition-duration: 300ms;
}

#preferences:hover {
    background-color: #333;
    color: white;
    transition-duration: 300ms;
}