@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat";
}
  
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav .logo {
    float: left;
}

.topnav #title {
    margin-left: -10px;
    font-size: 30px;
}

.topnav #dawgimg {
    margin-top: 9px;
    width: 125px;
}

.topnav h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 24px;
}
  
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 24px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #aa0404;
    color: white;
}