@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #BA0C2F;
    font-family: "Montserrat";
}
  
.topnav {
    overflow: hidden;
    background-color: #333;

    border-bottom: 2px solid #ffffff;
}

.topnav .logo {
    float: left;
}

.topnav #title {
    margin: 0;
    margin-left: -18px;
    font-size: 50px;
}

.topnav #dawgimg {
    margin-top: 11px;
    width: 125px;
}

.topnav h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
}
  
.topnav a {
    border-radius: 10px;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    margin-right: 10px;
    margin-top: -20px;
    text-decoration: none;
    font-size: 24px;

    transition-duration: 300ms;
}
  
.topnav a:hover {
    transition-duration: 300ms;
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #BA0C2F;
    color: white;
}

.login-container {
    margin-top: 60px;
    height: 300px;
}

.login {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}