@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(assets/bolton.jpg);
    background-size:cover;

    animation: 2s linear 0s 1 gradientFade;
}

body {
    margin: 0;
    font-family: "Montserrat";
    overscroll-behavior-y: none;
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}

b {
    color:#BA0C2F;
}
  
.topnav {
    overflow: hidden;
    background-color: #333;

    border-bottom: 2px solid #ffffff;
}

.topnav .logo {
    float: left;
}

.topnav #title {
    margin: 0;
    margin-left: -18px;
    font-size: 50px;
}

.topnav #dawgimg {
    margin-top: 6px;
    width: 125px;
}

.topnav h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
}
  
.topnav a {
    border-radius: 40px;
    float: right;
    font-weight: 600;
    color: #333;
    background-color: white;
    text-align: center;
    padding: 20px 20px;
    margin-right: 0px;
    margin-left: 20px;
    margin-top: -16px;
    text-decoration: none;
    font-size: 18px;

    transition-duration: 300ms;
}
  
.topnav a:hover {
    transition-duration: 300ms;
    background-color: #6f6f6f;
    color: #cacaca;
}
  
.topnav a.active {
    background-color: #BA0C2F;
    color: white;
}

.topnav a.active:hover {
    background-color: white;
    color: #333;
}

@keyframes slideUp {
    0% {
        opacity: 40%;
        margin-top: 500px;
    }
    
    100% {
        opacity: 100%;
        margin-top: 50px;
    }
}

.preferences-container {
    margin-top: 50px;

    animation: 1s ease-out 0s 1 slideUp;
}

.preferences {
    background-color: rgb(191, 191, 191);
    border-radius: 10px;
    margin: auto;
    width: 900px;
    height: 980px;

    margin-bottom: 50px;
}

p {
    color: #333;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 32px;

    float: left;
}

#title {
    margin-bottom: -60px;
    padding-bottom: 10px;
    border-bottom: solid #BA0C2F 5px;
}

#title2 {
    margin-bottom: -60px;
    padding-bottom: 10px;
    border-bottom: solid #333 2px;
}

.question {
    margin: 60px;
    margin-bottom: -100px;
    display: flex;
    align-items: center;

}

.switch {
    position: relative;
    width: 60px;
    height: 34px;

    margin-left: 390px;
}

/* Hide default HTML checkbox */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #BA0C2F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #BA0C2F;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#vegan {
    margin-left: 465px;
}

#eggs {
    margin-left: 416px;
}

#wheat {
    margin-left: 195px;
}

#gluten {
    margin-left: 380px;
}

#protein {
    margin-left: 187px;
}

#lactose {
    margin-left: 276px;
}

#loss {
    margin-left: 222px;
}

#cholestrol {
    margin-left: 239px;
}

#calories {
    margin-left: 284px;
}

#sodium {
    margin-left: 120px;
}

.exit-container {
    margin-top: 110px;
    display: flex;
}

.nosave-container {
    margin-left: 110px;
}

.save-container {
    margin-left: 70px;
}

#nosave {
    background-color: #989898;
    font-family: Montserrat;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 40px;
    color: #000000;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;

    transition-duration: 0.4s;
    cursor: pointer;

    transition-duration: 300ms;
}

#nosave:hover {
    background-color: #333;
    color: white;
    transition-duration: 300ms;
}

#save {
    background-color: #BA0C2F;
    font-family: Montserrat;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;

    transition-duration: 0.4s;
    cursor: pointer;

    transition-duration: 300ms;
}

#save:hover {
    background-color: #333;
    color: white;
    transition-duration: 300ms;
}

