@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(assets/bolton.jpg);
    background-size:cover;
}
body {
    margin: 0;
    font-family: "Montserrat";
    
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.topnav {
    overflow: hidden;
    background-color: #333;

    border-bottom: 2px solid #ffffff;
}

.topnav .logo {
    float: left;
}

.topnav #title {
    margin: 0;
    margin-left: -18px;
    font-size: 50px;
}

.topnav #dawgimg {
    margin-top: 6px;
    width: 125px;
}

.topnav h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
}
  
.topnav a {
    border-radius: 40px;
    float: right;
    font-weight: 600;
    color: #333;
    background-color: white;
    text-align: center;
    padding: 20px 20px;
    margin-right: 0px;
    margin-left: 20px;
    margin-top: -16px;
    text-decoration: none;
    font-size: 18px;

    transition-duration: 300ms;
}
  
.topnav a:hover {
    transition-duration: 300ms;
    background-color: #6f6f6f;
    color: #cacaca;
}
  
.topnav a.active {
    background-color: #BA0C2F;
    color: white;
}

.topnav a.active:hover {
    background-color: white;
    color: #333;
}


.preferences-container {
    margin-top: 0px;
    height: 600px;
    background-color: white;
}
